body{
  color: whitesmoke;
  background-image: url(https://vignette.wikia.nocookie.net/starwars/images/1/14/Holding_office.png/revision/latest?cb=20130212023043)
}
header{
height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
#h3{
color: white
}

.modifier{
  text-align: center
}





.mace{
  float: right
}
.jedi-attack{
  float: right
}
.jedi-stats{
  float: right
}